@model GAtreeWebStore.Models.Data

@{
    ViewData["Title"] = "show Data details";
}

<h1>Show data with id&nbsp;:&nbsp;@Model.Data_id</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_guid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_guid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_friendlyname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_friendlyname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_json)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_json)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_URL)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
